</div>
<h1>Contacts</h1>

<a href="/contact_add/">+ Add Contact</a>
{% if latest_contact_list %}
    <table border=1>
        <tr>
          <th>Name</th>
          <th>&nbsp;</th>    
        </tr>
        {% for contact in latest_contact_list %} 
        <tr>
          <td>
            <a href="/contact_edit/{{ contact.id }}/">
      {{ contact.name }}
      </a>
          </td>
          <td>
            <a href="/contact_edit/{{ contact.id }}/">edit</a>
      <a href="/contact_delete/{{ contact.id }}/">delete</a>
          </td>      
        </tr>
        {% endfor %}    
    </table>

{% else %}
    <p>No contacts created.</p>
{% endif %}
