</div>
{% block extrastyle %}{% load adminmedia %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css" />

{% endblock %}

<titulo>Dirección</titulo>
<p></p>
<div align="center">
<button><a href="/direccion_add/">+ Agregar Direccion</a></button></div>
{% if latest_direccion_list %}
    <table border=1>
        <tr>
          <th>Nombre</th>
          <th>Acción</th>
            
        </tr>
        {% for direccion in latest_direccion_list %} 
        <tr>
         
          <td>
            <a href="/direccion_edit/{{ direccion.id }}/">
      {{ direccion.calle }}
      </a>
          </td>
          <td>
            <a href="/direccion_edit/{{ direccion.id }}/">editar</a></td>
      <td><b><a href="/direccion_delete/{{ direccion.id }}/">eliminar</a></b> </td>      
        </tr>
        {% endfor %}    
    </table>

{% else %}
    <p>No hay datos cargados.</p>
{% endif %}
