{% block extrastyle %}{% load adminmedia %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css" />

{% endblock %}
 {% block content %}
        
        
        
</div>
<titulo>Editar Paciente</titulo>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<p>
<form action="/paciente_edit/{{ paciente_id }}/" method="post">
{% csrf_token %}

<table>

	<tr>
	<td> <labelblue> Nombre: {{ paciente_form.nombre }}</labelblue></td>
	<td><labelblue>Apellido: {{ paciente_form.apellido }}</labelblue></td></tr>
	<tr><td><labelblue>Teléfono: {{ paciente_form.telefono}}</labelblue></td>
	<td><labelblue>H.C.: {{ paciente_form.historiaClinica}}</labelblue></td></tr>
	</table>
	<p><input type="submit" value="Guardar" /></p>


</form>
</p>
{% endblock %}
