
<h1>Pacientes</h1>
<div align="center">
<button><a href="/paciente_add/">(+) Agregar Paciente</a></button></div>

{% if latest_paciente_list %}
    <table border=1>
        <tr>
          <th>Nombre</th>
          <th>Acción</th>
            
        </tr>
        {% for paciente in latest_paciente_list %} 
        <tr>
         
          <td>
            <a href="/paciente_edit/{{ paciente.id }}/">
      {{ paciente.nombre }}
      </a>
          </td>
          <td>
            <a href="/paciente_edit/{{ paciente.id }}/">editar</a></td>
      <td><b><a href="/paciente_delete/{{ paciente.id }}/">eliminar</a></b> </td>      
        </tr>
        {% endfor %}    
    </table>

{% else %}
    <p>No hay pacientes cargados.</p>
{% endif %}
<p><a href="/../">Volver</a></p>
<!--#include file="footer.html" -->
