</div>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css" />

<titulo>Agregar Dirección</titulo>
<P></P>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<!--include file="footer.html"-->:::
<form action="/direccion_add/" method="post">
{% csrf_token %}
<table>
{{ direccion_form.as_table }}
</table>
<P></P>
<input type="submit" value="Guardar" />

----------------
<input type="hidden" value="0" id="theValue" />

<p><a href="javascript:;" onclick="addElement();">Add Some Elements</a></p>

<div id="myDiv"> 
</div>
</form>

<script type="text/javascript">
function addElement() {

  var ni = document.getElementById('myDiv');

  var numi = document.getElementById('theValue');

  var num = (document.getElementById('theValue').value -1)+ 2;

  numi.value = num;

  var newdiv = document.createElement('div');

  var divIdName = 'my'+num+'Div';

  newdiv.setAttribute('id',divIdName);

  newdiv.innerHTML = 'Element Number '+num+' has been added! <a href=\'#\' onclick=\'removeElement('+divIdName+')\'>Remove the div "'+divIdName+'"</a>';

  ni.appendChild(newdiv);

}

function removeElement(divNum) {

  var d = document.getElementById('myDiv');

  var olddiv = document.getElementById(divNum);

  d.removeChild(olddiv);

}
</script>
