 {% extends "admin/base_site.html" %}
 
 {% block content %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/custom_admin.css" />

<h1>Editar Médico</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<body>
    <div id="center">
	<form action="/medico_edit/{{ medico_id }}/" method="post">
	{% csrf_token %}
	<TABLE BORDER=1 WIDTH=300>
		<tr>		{{ medico_id }} - <b>Nombre: </b> {{ medico_form.nombre }}		</tr>
	<tr>
	
	 <input type="submit" value="Guardar" /></tr>
	</TABLE>

	</form>
	</div>


</body>
{% endblock %}
