 {% extends "admin/base_site.html" %}
 {% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/custom_admin.css" />
{% endblock %}

{% block content %}
                  
<head><meta http-equiv="refresh" content="15" ></head>
<h1>Médicos</h1>	

<div id="container">
<div id="right" ><img src="{{ MEDIA_URL }}/static/medico.jpg" />
 <iframe src="/medico_add/" width="900" height="140" frameBorder="0">
  <p>El navegador no soporta frames</p>
</iframe>
</div>   
   <div id="center">
{% if latest_medico_list %}
    <table border=1>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Acción</th>
            
        </tr>
        {% for medico in latest_medico_list %} 
        <tr>
         <td><b> {{medico.id}}</b></td>
          <td>
            <a href="/medico_edit/{{ medico.id }}/">
      {{ medico.nombre }}
      </a>
          </td>
          <td>
            <a href="/medico_edit/{{ medico.id }}/"><img src="{{ MEDIA_URL }}/static/admin/img/icon_changelink.gif " />  </a>       <b><a href="/medico_delete/{{ medico.id }}/"><img src="{{ MEDIA_URL }}/static/admin/img/icon_deletelink.gif" />  </a></b> </td>      
        </tr>
        {% endfor %}    
    </table>
    
{% else %}
    <p>No hay profesionales cargados.</p>
{% endif %}

</div>
</div>


 {% endblock %}




